 <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">AWS vs. Azure</h1>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="HPIM1017.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar1">
                    	<b>Azure</b>
                    	<br><br>
				        Categories: 
				        "people_"
				        <br><br>
				        Celebrities:
				        <br><br>
				        Tags:
				       
				        "person","outdoor","woman",street"
                    </p>
                    <p class="col-md-5">
                    	<b>A.W.S.</b>
                    	<br>
                    	Labels:"person","plant","potted_plant","tree","road"

                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>
            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="HPIM1020.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar2">
                    	<b>Azure</b>
                    	<br><br>
				       Categories:
				       "people_"
				       <br><br>
				       Celebrities:
				       <br><br>
				   		Tags: "people_group","person","clothing","posing","suit"
                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels:"person","clothing","suit","tuxedo"

                    </p>
                </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="HPIM1022.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar3">
                    	<b>Azure</b>
                    	<br><br>
				       Categories":"people_"
				       <br><br>
				       Celebrities:
				       <br><br>
				       Tags: "people_group","person","clothing","posing","suit"

                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels":"person","clothing","suit","fashion","gown","wedding_robe","smile","selfie"

                    </p>
                </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="HPIM1038.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar4">
                    	<b>Azure</b>
                    	<br>
				       Categories:"people_group"
				       Celebrities:
				       Tags:"person","indoor","posing"

                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels:"person","furniture","dining_table","table"
                    </p>
                </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="must_have_faces_front.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar5">
                    	<b>Azure</b>
                    	<br><br>
				       Categories:"people_"
				       <br><br>
				       Celebrities":
				       <br><br>
				       Tags:"people_group","person","people","crowd"
                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels:"person","night_life",selfie"

                    </p>
                </a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="pic2_test.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar6">
                    	<b>Azure</b>
                    	<br>
				       Categories: "people_crowd"
				       <br><br>
				       Celebrities:
				       <br><br>
				       Tags:"people_group","person"
                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels:"person","clothing","shirt",selfie"
			        	</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                	<br>
                	<hr>
                    <img class="img-responsive" src="pic3_test.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-6">
                    	<a href="demo/show#tar7">
                    	<b>Azure</b>
                    	<br>
				       Categories:"others_","people_"
				       <br><br>
				       Celebrities":
				       <br><br>
				       Tags:"person","spectacles"

                    </p>
                    <p class="col-md-6">
                    	<b>A.W.S.</b>
                    	<br>
			        	Labels:"person","selfie"

                    </p>
                </a>
                </div>
            </div>

 </div>

<div id="imageDiv"></div>