<h1><u>Tag Analysis</u></h1>

<div class="jumbotron" id="tar1">
	<h4>
		<p>
			This image-- <b>HPIM1017.jpg</b> --performed significantly better with Azure than it did with A.W.S.; 
		</p>
		<br>
		<p>
			<b>Azure</b> was able to recognize that this was a woman who was outside, standing on the street, while <b>A.W.S.</b> generated tags that suggest that she's a plant, tree or potted plant. 
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar2">
	<h4>
		<p>
			This image-- <b>HPIM1020.jpg</b> -- provided better results for A.W.S. 
		</p>
		<br>
		<p>
			<b>Azure</b> identified a group of people who were posing in a picture; it, also, noticed that one person in the photo was wearing a suit. <b>A.W.S.</b> was able to recognize the young man's suit. 
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar3">
	<h4>
		<p>
			This image-- <b>HPIM1022.jpg</b> --generated tags in A.W.S. that might be impacted by a language barrier; 
		</p>
		<br>
		<p>
			<b>Azure</b> generated similar tags as it did for HPIM1020., "suit", "posing", "people_group".<b>A.W.S.</b> produced "wedding_robe", "gown", "selfie"--we weren't significantly impressed by these results. 
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar4">
	<h4>
		<p>
			This image,-- <b>HPIM1038.jpg</b> -- A.W.S. results labels were quite underwhelming; I don't, honestly, understand why it focused on the table. It could be useful, depending on the usecase... 
		</p>
		<br>
		<p>
			<b>Azure</b> produced results which identified this couple as being indoors and posing, while <b>A.W.S.</b> generated tags that focused on the table behind the couple; it provided: "furniture", "dining_table", and "table".  
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar5">
	<h4>
		<p>
			This image-- <b>HPIM1017.jpg</b> --produced a somewhat better result with Azure. A.W.S. labels were very limited; It didn't focus on the young women in the photo. 
		</p>
		<br>
		<p>
			<b>Azure</b> recognized group and crowd tags,  while <b>A.W.S.</b> generated a "selfie" and "night_life" label. Both results were about par. 
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar6">
	<h4>
		<p>
			This image-- <b>HPIM1017.jpg</b> --performed better with Azure than it did with A.W.S.; Azure tags were more relevant. 
		</p>
		<br>
		<p>
			<b>Azure</b> was able to recognize that this was a group of people posing for a picture. <b>A.W.S.</b> did not generate any useful tag results; "shirt", "selfie" and "clothing" don't seem at all useful. 
		</p>

	</h4>

</div>

<div class="jumbotron" id="tar7">
	<h4>
		<p>
			This image-- <b>HPIM1017.jpg</b> --performed slightly better with Azure than it did with A.W.S.; 
		</p>
		<br>
		<p>
			<b>Azure</b> provided "spactacles", while <b>A.W.S.</b> generated "selfie". Nither results were breath taking. Although, the spectacle was a bit more relevant and intuitive; even though, the language choice is not the greatest.
		</p>

	</h4>

</div>

