<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Azure Emotion API</h1>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="trump 2016.jpeg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar8">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"

                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="Don't make me angry.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar9">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="Disgusted.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar10">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

                        <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="sadness.gif" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar11">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

<div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="fear.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar12">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="surprise.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar13">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
      "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>

            <div class="col-lg-12 col-md-12 col-xs-12 thumb">
                
                    <img class="img-responsive" src="contempt.jpg" alt="">
                    <br>
                <div class="row">
                    <p class="col-md-7">
                    	<a href="demo/show#tar14">
                    		<hr>
                    	<b>Emotion Tags</b>
                    	<br><br>
				        Scores: 
            "anger","contempt","disgust","fear","happiness","neutral","sadness","surprise"
                    </p>
                    <p class="col-md-5">
                    	
                    </p>
                </a>
                </div>
                
            </div>
            <br>
            <br>
            <hr>