 _form.html.erb

<%= simple_form_for @image, :class => "form_id", :id => "form_id", :html => {:multipart => true} do |f| %>
	<%= f.input :title, label: "Name of Photo" %>
	<%= f.input :image, as: :file, :onChange => "alertMe(this.files[0])", label: "Submit Image to Render Tags!" %>
	<%#= f.file_field :image %>
	<%= f.button :submit, :onclick => "return sendFileRequest();", :class => "form_id" %> 


	
 	<%#= f.submit 'submit', id: => "form_id", :class => 'send_request', :onclick => "return sendFileRequest();" %>
<% end %>
<!--     <%#= f.file_field :image, :onChange => "sendFileRequest(this.files[0])" %>
 -->

<!-- 
I would like to upload a photo;
and send a post request, upon submission to Azure;
then, I would like to render this image and its accompanied Response in view.

  -->


	<!-- <div>
		<span class="input-group-btn">
			<button class="btn btn-primary btn-lg"
				ng-click = "console();">
			</button>
			<input type="file" id="files" name="imageArray[]" multiple />

		</span>
	</div> -->
