<h1> API Tests </h1>

<h3>Azure Tags</h3>
<div ng-controller="ImageController">
<ul>
	<li ng-repeat="response in responses">
		{{ response.tags }}
	</li>

</ul>

</div>
<h3>AWS Tags</h3>
<div ng-controller="ImageController2">
<ul>
	<li ng-repeat="response in aws_responses">
		{{ response.labels }}
	</li>

</ul>
</div>

<div id="ajax">

</div>

<div id="ajax">
</div>
<% @image.each do |element| %>
  <li><%= image_tag element.image %> </li>
<% end %>