<h1> API Tests </h1>

<% link_to "New Image", new_image_path %>
 <a href="/images/new">Add New Image</a>

<h3>Azure Tags</h3>
<div ng-controller="ImageController">
<ul>
	<li ng-repeat="response in responses">
		{{ response }}
		<br>
	</li>


	<!-- <button ng-click="alertMe()">Alert</button> -->
	 <button ng-click="alertMe()" id="btn">Click here</button>
        <p id="response">
</ul>
<div>
	Matching Pics: {{ matchingPics }}
</div>

</div>
<h3>AWS Tags</h3>
<div ng-controller="ImageController2">
	<ul>
		<li ng-repeat="response in aws_responses">
			{{ response.labels }}
		</li>

	</ul>

</div>

<hr>

<div id="ajax">

</div>

<div id="ajax">
</div>
<% @image.each do |element| %>
  <li><%= image_tag element.image %> </li>
<% end %>